.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  color: white !important;
}

.resume {
  display: flex;
  justify-content: center;
}

.resume img {
  padding: 50px;
  width: 60%;
}

@media (max-width: 600px) {
  .resume img {
    width: 100%;
    padding: 20px 10px;
  }
}

.donwload-btn {
  max-width: 250px !important;
  background-color: #623686 !important;
  border: none !important;
}

.donwload-btn:hover {
  background-color: #6d20c5d7 !important;
}

.load {
  display: grid;
  align-items: center;
}
